<html>
<head>
    <meta charset="utf-8">
    <title>星云投标</title>
    <link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
    <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
    <script type="text/javascript" src="lib/nebPay.js"></script> 
    <script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>
    <link rel="stylesheet" href="css/style.css"> 
</head>
<body>
<div class="container" id="app">
    <i-header>
        <div class="layout-logo"><h1>星云投标系统</h1>
        </div>
    </i-header>
    <Card shadow>
        <div slot="title">{{auctionText}}</div>
    </Card>
    <div class="phase">
        <p><h4>第{{phase}}期投标, 当前最高金额{{highest}}</h4></p>
    </div>
    <div class="controls">
        <input-number  :max="3000" :min="0.001" :step="0.001" v-model="acutionValue"></input-number>
        <i-input v-model="acutionContext" type="textarea" :autosize="{minRows: 2,maxRows: 5}" placeholder="请输入你想说的话..."></i-input>
        <i-button @click="acution">投标</i-button>
        <i-button @click="refund">返款</i-button>
        <div class="naslist">
            <i-Table :columns="columns" :data="members"></i-Table>
        </div>
    </div>
    
    <Modal v-model="visible" title="Welcome">Welcome to iView</Modal>
    
    <Modal
        v-model="webExtensionWalletShow"
        title="您未安装星云DApp!"
        :mask-closable="false"
        :closable="false">
        <p>请先安装<a target="_blank" href="https://github.com/ChengOrangeJu/WebExtensionWallet">WebExtensionWallet</a></p>
        <p slot="footer"><a @click="reload">刷新</a></p>
    </Modal>
</div>
<script>
    var NebPay = require("nebpay");
    var nebPay = new NebPay();
    new Vue({
        el: '#app',
        data: {
            visible: false,
            highest: 0,
            auctionText: "还没人中标哦！！！",
            //masterAddress: "n1i19Tn28Jc4C2gBLCrJQjLpfxmFefpv6oo", // test net
            masterAddress: "n1ecPkRKphq5qboaxcJMo4ky1JDTtHemmyz",
            columns: [
                    {
                        title: '支付地址',
                        key: 'from'
                    },
                    {
                        title: '留言',
                        key: 'context',
                    },
                    {
                        title: '支付金额',
                        key: 'payNas',
                    }
                ],
            members: [],
            phase: 1,
            acutionContext: '',
            acutionValue: 0.001,
            webExtensionWalletShow: false,
        },
        mounted: function(){
            if(this.walletCheck()){
                this.refreshData();
                setInterval(this.timeCheck, 120 * 1000);
            }
        },
        methods: {
            walletCheck:function(){
                if (typeof(webExtensionWallet) === "undefined") {
                    this.webExtensionWalletShow = false
                    return false;
                }
                return true;
            },
            timeCheck: function(){
                var to = this.masterAddress;
                var value = "0";
                var callFunction = "checkRefund";
                var callArgs = JSON.stringify([""]);
                var self = this;
                nebPay.simulateCall(to, value, callFunction, callArgs, {    
                    listener: function(resp){ 
                        var result = resp.result;
                        if (JSON.parse(result) == "True"){
                            nebPay.call(to, 0, "refund", callArgs, {    
                                listener: self.submitCb('返款成功')
                            });
                        }
                    } 
                });
            },
            refund: function(){

            },
            acution:function(){
                if (typeof(webExtensionWallet) === "undefined") {
                    this.webExtensionWalletShow = false
                    return
                }
                var to = this.masterAddress;
                var value = this.acutionValue.toString();
                var callFunction = "tender";
                var callArgs = [this.acutionContext];
                nebPay.call(to, value, callFunction, JSON.stringify(callArgs), {    
                    listener: this.submitCb('提交成功')
                });
            },
            reload:function(){
                window.location.reload()
            },
            submitCb:function(title){
                var self = this;
                return function(resp){
                    self.$Modal.success({
                        title: title,
                        content: '需要进行区块确认，这可能会花费几十秒钟的时间。</br>你可以在<a href="https://wallet.nasscan.io/check.html" target="_blank">https://wallet.nasscan.io/check.html</a>中</br>使用<code>'+resp.txhash+'</code>查询进度！',
                        width: 600,
                        onOk:self.refreshData,
                    })
                }
            },
            refreshData: function(){
                var to = this.masterAddress;
                var value = "0";
                var callFunction = "getDay";
                var callArgs = JSON.stringify([""]);
                var self = this;
                nebPay.simulateCall(to, value, callFunction, callArgs, {    //使用nebpay的simulateCall接口去执行get查询, 模拟执行.不发送交易,不上链
                    listener: function(resp){
                        var result = resp.result;
                        self.phase = result - 17702;
                    }
                });

                callFunction = "accountList";
                nebPay.simulateCall(to, value, callFunction, callArgs, {    
                    listener: function(resp){ 
                        var result = resp.result;
                        var resultObj = JSON.parse(result);
                        self.members = resultObj;
                    }
                });

                callFunction="getHighest"
                nebPay.simulateCall(to, value, callFunction, callArgs, {   
                    listener: function(resp){ // inittable
                        var result = resp.result;
                        self.highest = result;
                    }   
                });
                callFunction="getAuctionContext"
                nebPay.simulateCall(to, value, callFunction, callArgs, {   
                    listener: function(resp){ // inittable
                        self.auctionText = JSON.parse(resp.result) || self.auctionText;
                    }   
                });
            }
        }
    })
  </script>
</body>
</html>